@import './mixin.less';

// 左侧边栏（桌面为常驻栏，移动端变抽屉）
.memos-sidebar-wrapper {
  .flex(column, flex-start, flex-start);
  width: 240px;
  height: 100%;
  padding: 16px 0;
  overflow-x: hidden;
  overflow-y: auto;
  flex-shrink: 0;
  .hide-scroll-bar();

  > * {
    flex-shrink: 0;
  }
}

.memos-sidebar-wrapper-display {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 240px;
  height: 100%;
  padding: 16px 0;
  overflow-x: hidden;
  overflow-y: auto;
  flex-shrink: 0;
}

.mobile-show-sidebar .mobile-view {
  #page-wrapper {
    > .memos-sidebar-wrapper {
      transform: translateX(0);
      box-shadow: var(--memo-shadow-s);
    }
  }
}

// 移动端抽屉：默认藏在左侧外，滑出时露出
.mobile-view .memos-sidebar-wrapper {
  .flex(column, flex-start, center);
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  padding: 0;
  background-color: var(--memo-bg);
  transition: all 0.4s ease;
  transform: translateX(-320px);

  > * {
    width: 320px;
    max-width: 95%;
    flex-shrink: 0;
    padding-left: 32px;
  }
}
